---
name: Build Debian/Ubuntu

on:
  workflow_dispatch:
  workflow_call:

env:
  BUILD_DEPS: g++ make lsb-release libboost-random-dev libtiff-dev catch2
  RUN_DEPS: libtiff-tools libgomp1

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container:
          - image: debian:bookworm-slim
            name: Debian.bookworm
          - image: debian:trixie-slim
            name: Debian.trixie
          - image: ubuntu:24.04
            name: Ubuntu.noble
          - image: ubuntu:22.04
            name: Ubuntu.jammy
    container:
      image: ${{ matrix.container.image }}
    steps:

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update -qq
          apt-get install -y --no-install-recommends ${{ env.BUILD_DEPS }}

      - name: Set suffix
        run: |
          DISTRIBUTION=$(lsb_release --short --id 2>/dev/null)
          CODENAME=$(lsb_release --short --codename 2>/dev/null)
          MACHINE=$(uname --machine 2>/dev/null)
          SUFFIX=".${DISTRIBUTION}.${CODENAME}.${MACHINE}"
          echo "SUFFIX=${SUFFIX}" >> $GITHUB_ENV
          echo "Building for: ${SUFFIX}"

      - name: Check package versions
        run: |
          cd Cell2Fire
          dpkg-query -W -f='${binary:Package} ${Version}\n' ${{ env.BUILD_DEPS }} > "pkgs${{ env.SUFFIX }}.txt"
          cat "pkgs${{ env.SUFFIX }}.txt"

      - name: Bump version in code
        shell: bash
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            version="${{ github.sha }}"
          elif [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            version="${{ github.sha }}"
          elif [[ "${{ github.event_name }}" == "push" && "${{ github.ref_type }}" == "tag" ]]; then
            version="${{ github.ref_name }}"
          else
            version="${{ github.sha }}"
          fi
          echo "Setting version to ${version}"
          sed -i "s/C2FW_VERSION.*/C2FW_VERSION = \"${version}\";/" Cell2Fire/Cell2Fire.h

      - name: Build
        run: |
          cd Cell2Fire
          make clean
          make

      - name: Run unit tests
        if: ${{ vars.RUN_UNIT_TESTS == 'true' }}
        run: |
          cd Cell2Fire
          make tests

      - name: Get binary info
        run: |
          cd Cell2Fire
          ldd Cell2Fire > "ldd${{ env.SUFFIX }}.txt"
          cat "ldd${{ env.SUFFIX }}.txt"

      - name: Prepare artifacts
        run: |
          cd Cell2Fire
          mv Cell2Fire "Cell2Fire${{ env.SUFFIX }}"
          ls -lh "Cell2Fire${{ env.SUFFIX }}"

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: binaries${{ env.SUFFIX }}
          path: |
            Cell2Fire/Cell2Fire${{ env.SUFFIX }}
            Cell2Fire/ldd${{ env.SUFFIX }}.txt
            Cell2Fire/pkgs${{ env.SUFFIX }}.txt
          if-no-files-found: error

  regression_tests:
    needs: build
    if: ${{ vars.RUN_REGRESSION_TESTS == 'true' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container:
          - image: debian:bookworm-slim
            name: Debian.bookworm
          - image: debian:trixie-slim
            name: Debian.trixie
          - image: ubuntu:24.04
            name: Ubuntu.noble
          - image: ubuntu:22.04
            name: Ubuntu.jammy
    container:
      image: ${{ matrix.container.image }}
    steps:

      - name: Install run dependencies
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update -qq
          apt-get install -y --no-install-recommends lsb-release unzip ${{ env.RUN_DEPS }}

      - name: Checkout only tests
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            test/
          sparse-checkout-cone-mode: false

      - name: Set suffix
        run: |
          DISTRIBUTION=$(lsb_release --short --id 2>/dev/null)
          CODENAME=$(lsb_release --short --codename 2>/dev/null)
          MACHINE=$(uname --machine 2>/dev/null)
          SUFFIX=".${DISTRIBUTION}.${CODENAME}.${MACHINE}"
          echo "SUFFIX=${SUFFIX}" >> $GITHUB_ENV

      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          name: binaries${{ env.SUFFIX }}
          path: Cell2Fire

      - name: Run tests
        run: |-
          chmod +x "Cell2Fire/Cell2Fire${{ env.SUFFIX }}"
          chmod +x "test/test.sh"
          cd test
          ./test.sh "${{ env.SUFFIX }}"
