name: build ubuntu latest

on:
  # pull_request:
  #   branches:
  #     - main
  workflow_dispatch:
  workflow_call:

permissions:
  contents: write

jobs:
  ubuntu_build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y g++-12 libboost-all-dev libtiff-dev catch2

      - name: Check Packages Versions
        run: |
          dpkg-query -W -f='${binary:Package} ${Version}\n' g++-12 libboost-all-dev libtiff-dev catch2 > new_pkgs_ubuntu.txt
          if [ -n "$(diff new_pkgs_ubuntu.txt pkgs_ubuntu.txt)" ]; then
            echo "::warning:: apt-get packages versions diff! $(diff new_pkgs_ubuntu.txt pkgs_ubuntu.txt)"
            diff_output=$(diff --side-by-side --suppress-common-lines new_pkgs_ubuntu.txt pkgs_ubuntu.txt || true)
            echo "$diff_output" | while IFS= read -r line; do
              echo "$line"
            done
          fi

      - name: Get Environment
        id: get_env
        run: |
          DISTRIBUTION=$( lsb_release --short --id 2>/dev/null )
          CODENAME=$( lsb_release --short --codename 2>/dev/null )
          MACHINE=$( uname --machine 2>/dev/null )
          echo "SUFFIX=".${DISTRIBUTION}.${CODENAME}.${MACHINE}"" >> $GITHUB_ENV

      - name: Build
        run: |
          cd Cell2Fire
          make clean
          make
          ldd Cell2Fire
          mv Cell2Fire Cell2Fire${{ env.SUFFIX }}

      - name: Unit Test
        run: |
          cd Cell2Fire
          make tests

      - name: Bash Test
        run: |
          cd test
          bash test.sh ${{ env.SUFFIX }}

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: binaries${{ env.SUFFIX }}
          path: Cell2Fire/Cell2Fire${{ env.SUFFIX }}
