name: build windows

on:
  # pull_request:
    # branches:
      - main
  workflow_dispatch:
  workflow_call:

permissions:
  contents: write

jobs:
  windows_build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Cache Boost
      id: cache-boost
      uses: actions/cache@v4
      with:
        path: |
          Cell2Fire/include/boost_1_84_0
        key: boost-${{ runner.os }}-1.84.0
        restore-keys: |
          boost-${{ runner.os }}-

    - name: Cache Dirent
      id: cache-dirent
      uses: actions/cache@v4
      with:
        path: |
          Cell2Fire/include/dirent-1.24
        key: dirent-${{ runner.os }}-1.24
        restore-keys: |
          dirent-${{ runner.os }}-

    - name: Cache Eigen
      id: cache-eigen
      uses: actions/cache@v4
      with:
        path: |
          Cell2Fire/include/eigen3
        key: eigen-${{ runner.os }}-776d86d8df175b7036467a0ef131bd34755f847d
        restore-keys: |
          eigen-${{ runner.os }}-

    - name: Cache vcpkg
      id: cache-vcpkg
      uses: actions/cache@v4
      with:
        path: |
          Cell2Fire/include/vcpkg
        key: vcpkg-${{ runner.os }}-${{ hashFiles('**/vcpkg.json') }}
        restore-keys: |
          vcpkg-${{ runner.os }}-

    - name: Download dependencies
      if: steps.cache-vcpkg.outputs.cache-hit != 'true' || steps.cache-boost.outputs.cache-hit != 'true' || steps.cache-eigen.outputs.cache-hit != 'true' || steps.cache-dirent.outputs.cache-hit != 'true'
      env:
        CACHE_BOOST: ${{ steps.cache-boost.outputs.cache-hit }}
        CACHE_DIRENT: ${{ steps.cache-dirent.outputs.cache-hit }}
        CACHE_EIGEN: ${{ steps.cache-eigen.outputs.cache-hit }}
        CACHE_VCPKG: ${{ steps.cache-vcpkg.outputs.cache-hit }}
      run: |
        cd Cell2Fire
        New-Item -ItemType Directory -Path "include" -Force

        Write-Host "Cache Boost: $CACHE_BOOST $($CACHE_BOOST -ne 'true')"
        Write-Host "Cache Boost: $CACHE_VCPKG $($CACHE_VCPKG -ne 'true')"

        # boost
        if ($CACHE_BOOST -ne 'true') {
          $fname = "boost_1_84_0.tar.gz"
          Invoke-WebRequest -Uri https://boostorg.jfrog.io/artifactory/main/release/1.84.0/source/$fname -OutFile $fname
          tar -xzf $fname -C include
        } else {
          echo "Boost already cached"
        }

        # dirent
        if ($CACHE_DIRENT -ne 'true') {
          Invoke-WebRequest -Uri https://github.com/tronkko/dirent/archive/refs/tags/1.24.zip -OutFile dirent-1.24.zip
          Expand-Archive -Path .\dirent-1.24.zip -DestinationPath include
        } else {
          echo "Dirent already cached"
        }

        # eigen
        if ($CACHE_EIGEN -ne 'true') {
          $project_id = 15462818
          $commit_sha = "776d86d8df175b7036467a0ef131bd34755f847d"
          $path = "Eigen"
          $url = "https://gitlab.com/api/v4/projects/$project_id/repository/archive?sha=$commit_sha&path=$path"
          Invoke-WebRequest -Uri $url -OutFile eigen.tar.gz
          tar -xzf eigen.tar.gz
          mv eigen-$commit_sha-$commit_sha-Eigen include\eigen3
        } else {
          echo "Eigen already cached"
        }

        # tiffio
        if ($CACHE_VCPKG -ne 'true') {
          git clone https://github.com/microsoft/vcpkg.git include\vcpkg
        } else {
          echo "vcpkg already cached"
        }

    - name: Setup vcpkg
      run: |
        cd Cell2Fire\include\vcpkg
        .\bootstrap-vcpkg.bat
        .\vcpkg integrate install
        .\vcpkg install tiff # --recurse --editable
        # Write-Host "Listing all files in installed\x64-windows:"
        # Get-ChildItem -Recurse installed\x64-windows | ForEach-Object { $_.FullName }

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build Solution
      run: |
        cd Cell2Fire
        msbuild Cell2Fire.sln /p:Configuration=Release
      
    - name: Gather output
      run: |
        mkdir binaries
        copy Cell2Fire\x64\Release\*.dll binaries
        copy Cell2Fire\x64\Release\Cell2Fire.exe binaries

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: binaries-Windows-x86_64
        path: binaries
