---
name: Doxygen GitHub Pages Deploy Action

on:
  push:
    branches:
      - docs

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Doxygen
        run: sudo apt install -y doxygen graphviz

      - name: Generate Doxygen documentation
        run: cd docs && doxygen Doxyfile

      - name: Deploy to GitHub Pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd docs/html
          git config --global user.name 'Fdo Bad Vel'
          git config --global user.email 'fbadilla@ing.uchile.cl'
          git init -b gh-pages
          git add -A
          git commit -m "Deploy to GitHub Pages"
          git push -f https://x-access-token:${GITHUB_TOKEN}@github.com/fdobad/C2F-W.git gh-pages
